<div>
  <button (click)="valor=1">BOTON 1</button>
  <button (click)="valor=2">BOTON 2</button>
  <button (click)="valor=3">BOTON 3</button>
</div>

<div [ngSwitch]="valor"  >
  <div *ngSwitchCase="5" class="info">
    <span>Estado inicial 1</span>
    <span>Estado inicial 2</span>
    <span>Estado inicial 3</span>
  </div>
  <span *ngSwitchCase="1">Estado posterior 1</span>
  <span *ngSwitchCase="2">Estado posterior 2</span>
  <span *ngSwitchDefault>Estado posterior 3</span>
</div>
