div{
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

div button{
  margin: 10px 20px;
  width: 10%;
  padding: 20px;
  border-radius: 6%;
  font-weight: bolder;
  background-color: bisque;
  color: brown;
}

.info{
  margin: 0 auto;
  text-align: center;
}

span{
  padding: 10px ;
  display: block;
  margin: 0 auto;
  background-color: rgb(229, 206, 250);
  width:200px ;
  border-color: black;
}